<div class="main-body">
    <mat-expansion-panel class="expansion" (opened)="panelOpenState = true"
                         (closed)="panelOpenState = false">
      <mat-expansion-panel-header class="header">
        <mat-panel-description class="addProperty">
          Update Agent
        </mat-panel-description>
      </mat-expansion-panel-header>
      <form class="form" [formGroup]="UpdateAgentForm" (submit)="UpdateAgent()">
        <mat-form-field class="example-full-width">
          <mat-label>Agent Name</mat-label>
          <input matInput formControlName="agentName" placeholder="Ex. John Doe" [value]="agent.agentName">
        </mat-form-field>
        <mat-form-field class="example-full-width">
            <mat-label>Mobile Number</mat-label>
            <input matInput formControlName="agentMobile" placeholder="Ex. 10 digit" [value]="agent.agentMobile">
          </mat-form-field>
          <div class="description form-floating">
            <textarea class="form-control" formControlName="agentAddress" placeholder="Leave a comment here" id="floatingTextarea" style="height: 5em;" [value]="agent.agentAddress"></textarea>
            <label for="floatingTextarea">Address</label>
          </div>
          <div class="file btn btn-lg btn-secondary">
            Upload Images
            <input formControlName="image" type="file" id="image" #fileInput (change)="onFileSelected($event)"/>
        </div> &nbsp;
          <mat-form-field class="example-full-width">
            <mat-label>Email ID</mat-label>
            <input matInput formControlName="agentEmail" placeholder="Ex. 10 digit" [value]="agent.agentEmail">
          </mat-form-field><mat-form-field class="example-full-width">
            <mat-label>Password</mat-label>
            <input matInput formControlName="agentPassoword" [value]="agent.agentPassoword" placeholder="Ex. 10 digit">
          </mat-form-field>
        <br>
        <div class="d-grid gap-2">
        <button id="submit" type="submit" class="btn btn-primary">Update Agent Details</button>
      </div>
      </form>
    </mat-expansion-panel>
  
</div>

  