<!-- Main -->
<div class="container mt-4">
    <h1>Hello {{agent.agentName}}</h1>
    <p></p>

    <!-- Rental Form -->
    <div *ngFor="let sch of schedule">
    <form id="rental-form" *ngFor="let sc of sch">
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="name" class="form-label">Client Name: &nbsp;</label>
          <label>{{sc.cName}}</label>
        </div>
        <div class="col-md-4 mb-3">
          <label for="email" class="form-label">Client Mobile No.: &nbsp;</label>
          <label>{{sc.mobNo}}</label>
        </div>
        <div class="col-md-4 mb-3">
          <label for="destination" class="form-label">Tour Date: &nbsp;</label>
          <label>{{sc.date}}</label>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4 mb-3">
          <label for="bike" class="form-label">Slot Time: &nbsp;</label>
          <label>{{sc.slots}}</label>
        </div>
      </div>
      <a href="#" class="btn btn-primary"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-check" viewBox="0 0 16 16">
        <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm1.679-4.493-1.335 2.226a.75.75 0 0 1-1.174.144l-.774-.773a.5.5 0 0 1 .708-.708l.547.548 1.17-1.951a.5.5 0 1 1 .858.514Z"/>
        <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v6.5a.5.5 0 0 1-1 0V1H3v14h3v-2.5a.5.5 0 0 1 .5-.5H8v4H3a1 1 0 0 1-1-1V1Z"/>
        <path d="M4.5 2a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm-6 3a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z"/>
      </svg> Visited</a>
    </form>
  </div>

    <!-- Bicycle Photos -->
    <div class="row mt-4">
      <div class="col-md-4">
        <div class="rental-card" *ngFor="let prop of property">
          <img mat-card-image [src]="getImageSource(prop.images)" class="img-fluid" alt="Photo of a Shiba Inu">
          <div class="card-body">
            <h5 class="card-title">{{prop.property_name}}</h5>
            <p class="card-text">{{prop.location}}</p>
            <p class="card-text"><strong>Buy Price:</strong> {{prop.buyPrice}}</p>
            <a href="#" class="btn btn-primary">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>